.App-logo {
  height: 40vmin;
  pointer-events: none;
  max-height: 100px;
  width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.color-green {
  color: green;
}

.color-blue {
  color: blue;
}

.card {
  width: 16rem;
}